{% extends 'base.html' %}

{% block current_tab %} Director Detail - {{ director.full_name }}{% endblock current_tab %}

{% block body %}
    <p>First name: {{ director.first_name }}</p>
    <p>Last name: {{ director.last_name }}</p>
    <p>Age: {{ director.age }}</p>

    <table class="table">
        <h3 class="mt-5">Movies</h3>
        <tr>
            <th>name</th>
            <th>likes</th>
        </tr>
        {% for movie in director.movies.all %}
            <tr>
                <td><a href="{% url 'movie-detail' movie.pk %}">{{ movie.name }}</a></td>
                <td>{{ movie.likes }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock body %}