{% extends 'base.html' %}
{% load custom_tags %}

{% block current_tab %} Movie Detail - {{ object.name }} {% endblock current_tab %}

{% block body %}
    <p>name: {{ object.name }}</p>
    <p>description: {{ object.description }}</p>
    {% if object.genre %}
        <p>genre: <a href="{% url "genre:detail" object.genre.pk %}">{{ object.genre.name }}</a></p>
    {% endif %}
    <p>rating: {{ object.rating }}</p>
    <p>likes: {{ object.likes }}</p>
    <p>dislikes: {{ object.dislikes }}</p>

    {% movie_actor_table %}
    {% movie_director_table %}

    {% if request.user.is_authenticated %}
        <p class="text-{% if already_liked %}danger{% else %}primary{% endif %}">{% can_like_message %}</p>

        <div class="row">
            <div class="col-1">
                <form action="{% url 'movie:detail' object.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success" value="like">
                </form>
            </div>
            <div class="col-1">
                <a href="{% url 'movie:dislike' object.pk %}" class="btn btn-danger">dislike</a>
            </div>
            <div class="col-1">
                <a href="{% url 'movie:update' object.pk %}" class="btn btn-primary">Update</a>
            </div>
        </div>
    {% endif %}
{% endblock body %}