{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Hollymovies - {% block current_tab %}{% endblock current_tab %}</h1><br>
<h2><a href="{% url 'homepage' %}">homepage</a></h2>
<h2><a href="{% url 'movie-list' %}">movies</a></h2>
<h2><a href="{% url 'genre-list' %}">genres</a></h2>
<h2><a href="{% url 'actor-list' %}">actors</a></h2>
<h2><a href="{% url 'director-list' %}">directors</a></h2>
<h2><a href="{% url 'cinema-list' %}">cinemas</a></h2>
<h2><a href="{% url 'data_types_testing' %}">data types in templates</a></h2>
{% if request.user.is_superuser %}
    <h2><a href="{% url 'admin:index' %}">admin</a></h2>
{% endif %} 

{% if request.user.is_authenticated %}
    <h2>Username: {{ request.user.username }}</h2>
{% else %}
   <h2>login</h2>
{% endif %} 

<div class="container mt-5">
    {% block body %}
    {% endblock body %}
</div>
</body>
</html>