<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <form action="{% url 'dummy_form' %}" method="POST" class="mt-5">
        {% csrf_token %}
        {{ form.int_field.label }}: {{ form.int_field }} {{ form.int_field.errors }}
        <br><br>
        {{ form.username.label }}: {{ form.username }} {{ form.username.errors }}
        <br><br>
        {{ form.email.label }}: {{ form.email }} {{ form.email.errors }}
        <br><br>
        {{ form.datetime_test.label }}: {{ form.datetime_test }} {{ form.datetime_test.errors }}
        <br><br>
        {{ form.movie.label }}: {{ form.movie }} {{ form.movie.errors }}
        <br><br>
        {{ form.movies.label }}: {{ form.movies }} {{ form.movies.errors }}
        <br><br>
        {{ form.difficulty.label }}: {{ form.difficulty }} {{ form.difficulty.errors }}
        <br><br>
        <input type="submit" value="start" class="mt-5">
    </form>
</div>
</body>
</html>