<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome in hollymovies app!</h1><br>
<h2><a href="{% url 'movie-list' %}">movies</a></h2>
<h1>Statistics:</h1>
<p>number of movies - {{ number_of_movies }}</p>
<p>number of genres - {{ number_of_genres }}</p>
<p>most liked movie - {{ most_liked_movie.name }} <strong> likes: </strong> {{ most_liked_movie.likes }}</p>
<p>Best rated movie - {{ best_rated_movie.name }} <strong> rating: </strong> {{ best_rated_movie.rating }}</p>
</body>
</html>